<%- include ('./partials/Header.ejs') %>
<%- include ('./partials/NavbarLoggedin.ejs') %>

<div class="w-full flex justify-center">
    <!-- Resume 1 -->
    <div class="main w-[595px]  bg-white flex flex-col">
        <% user.resumeData.forEach((data)=> { %>
            <!-- Top Header Section -->
            <div class="top-header w-full text-center py-2 flex flex-col leading-3">
                <h1 class="text-4xl"><%= data.name %></h1>
                <h4 class="text-md font-semibold leading-tight"><%= data.profession %></h4>
                <div class="links flex justify-center items-center gap-3">
                    <a target="_blank" href="<%= data.githubLink %>" class="font-medium text-sm"><i class="p-1 ri-github-fill"></i>Github Profile</a>
                    <div>|</div>
                    <a target="_blank" href="<%= data.linkedinLink %>" class="font-medium text-sm"><i class="p-1 ri-linkedin-box-fill"></i>LinkedIn Profile</a>
                </div>
                <div class="contacts flex justify-center items-center gap-3">
                    <a href="mailto:youremail@gmail.com" class="font-semibold text-sm"><%= data.email %></a>
                    <div>|</div>
                    <a href="tel:+913344444444" class="font-semibold text-sm"><%= data.phone %></a>
                    <div>|</div>
                    <h5 class="font-semibold text-sm"><%= data.cityState %></h5>
                </div>
                <div class="border-b-[1px] border-b-black py-1"></div>
            </div>
            
            <!-- Other Parts -->
            <div class="px-8">
                <!-- Skills section -->
                <div class="skills py-2">
                    <h1 class="text-xl font-semibold">SKILLS</h1>
                    <div class="leading-tight text-sm flex gap-5">
                    <div class=" font-semibold pl-1">
                        <p>• LANGUAGES</p>
                        <p>• LIBRARIES/FRAMEWORKS</p>
                        <p>• DATABASES</p>
                        <p>• TOOLS/PLATFORMS</p>
                    </div>
                    <div>
                        <p class="justify-start"><%= data.languages %></p>
                        <p class="justify-start"><%= data.frameworks %></p>
                        <p class="justify-start"><%= data.databases %></p>
                        <p class="justify-start"><%= data.tools %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    
            <!-- Education section -->
            <div class="education py-2">
                <h1 class="text-xl font-semibold">EDUCATION</h1>
                <div class="">
                    <div class="college flex justify-between">
                        <p class="text-base leading-tight font-semibold">YOUR COLLEGE NAME</p>
                        <p class="text-xs leading-tight">January 2024 - December 2024</p>
                    </div>
                    <div class="stream flex justify-between">
                        <p class="text-sm ">Bachelor of Computer Applications | Computer Science</p>
                        <p class="text-xs">City, State</p>
                    </div>
                    <p class="text-sm">CGPA: 9.1</p>
                </div>
            </div>
    
            <!-- Experience section -->
            <div class="exprience py-2">
                <h1 class="text-xl font-semibold">EXPERIENCE</h1>
                <div class="py-1">
                    <div class="flex justify-between">
                        <p class="text-sm font-semibold">COMPANY NAME | <span class="text-xs">JOB ROLE</span></p>
                        <p class="text-xs">January 2024 - December 2024</p>
                    </div>
                    <div class="pl-2 pt-1 text-sm">
                        <p>• Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam?</p>
                        <p>• Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam?</p>
                        <p>• Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam?</p>
                    </div>
                </div>
                
            </div>
    
            <!-- Projects section -->
            <div class="projects py-2">
                <h1 class="text-xl font-semibold">PROJECTS</h1>
                <div class="py-1">
                    <div class="flex justify-between">
                        <p class="text-sm font-semibold">PROJECT NAME | <a href="#" class="text-xs">LINK</a></p>
                        <p class="text-xs">stack, stack2, stack3</p>
                    </div>
                    <div class="pl-2 pt-1 text-sm">
                        <p>• Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam?</p>
                        <p>• Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam?</p>
                        <p>• Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, numquam?</p>
                    </div>
                
                </div>
            </div>
    
            <!-- Certifications section -->
            <div class="certifications py-2">
                <h1 class="text-xl font-semibold">CERTIFICATIONS</h1>
                <div class="pl-2 pt-1 ">
                    <p class="font-sm">• Certification x<a href="#" class="text-xs font-semibold"> - BY ORGANIZATION</a></p>
                    <p class="font-sm">• Certification x<a href="#" class="text-xs font-semibold"> - BY ORGANIZATION</a></p>
                    <p class="font-sm">• Certification x<a href="#" class="text-xs font-semibold"> - BY ORGANIZATION</a></p>
                </div>
            </div>
    
            <!-- Achievements section -->
            <div class="achievements py-2 pb-3">
                <h1 class="text-xl font-semibold">ACHIEVEMENTS</h1>
                <div class="pl-2 pt-1 text-sm">
                    <p>• Your x Achievements</p>
                    <p>• Your x Achievements</p>
                    <p>• Your x Achievements</p>
                </div>
            </div>
    
            <!-- Hobbies Section -->
            <div class="hobbies py-2 pb-3">
                <h1 class="text-xl font-semibold">HOBBIES</h1>
                <div class="pl-2 pt-1 text-sm">
                    <p>• Your x Hobby</p>
                    <p>• Your x Hobby</p>
                    <p>• Your x Hobby</p>
                </div>
            </div>
        </div>
    
    </div>

</div>

<%- include ('./partials/Footer.ejs') %>